{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends 'base.html.twig' %}


{% block body %}
<body class="single single-post">

<main role="main">
  gallery

</main><!-- main -->

{% endblock %}
